# <font color='F37126'> Analise dos Dados</font>

## 1.0. <font color='F37126'> Analise descritiva dos Dados</font>

# 0.0. <font color='F37126'> Imports</font>

In [36]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

### 0.1. <font color='F37126'> Data Collection</font>

In [37]:
path = '/Users/hallanmiranda/Documents/repos/ds_dev_webscraping'
database_name = 'database_hm.sqlite'
conn = create_engine('sqlite:///' + path + '/' + database_name, echo=False)

query = """
    SELECT * FROM vitrine
"""

df_raw = pd.read_sql( query, con=conn )

OperationalError: (sqlite3.OperationalError) no such table: vitrine
[SQL:
    SELECT * FROM vitrine
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### 1.1. <font color='F37126'> Descricao do Dados</font>

In [24]:
df1 = df_raw.copy()

### 1.2. <font color='F37126'> Dimension dos Dados </font>### 1.2. <span style="color: #00FF00;">Dimension dos Dados</span>

In [23]:
print('Number of Rows: {}'.format( df1.shape[0] ))
print('Number of Colss: {}'.format( df1.shape[1] ))

Number of Rows: 296
Number of Colss: 15

### 1.2. <font color='F37126'> Type Data </font>

In [30]:
df1.dtypes

product_id           object
style_id             object
color_id             object
product_name         object
product_color        object
fit                  object
price               float64
size_number          object
size_model           object
cotton              float64
polyester           float64
spandex             float64
elastomultiester     object
Rayon               float64
scrapy_datetime      object
dtype: object

### 1.3. <font color='F37126'> Identificação de dados faltantes</font>

In [26]:
# contagem soma aplicada nas colunas
df1.isna().sum()

product_id            0
style_id              0
color_id              0
product_name        296
product_color         0
fit                   0
price                 0
size_number         141
size_model          141
cotton                0
polyester             0
spandex               0
elastomultiester      0
Rayon                 0
scrapy_datetime       0
dtype: int64

In [33]:
# representacao em Porcentagem que cada coluna representa as % das linhas em dados faltantes

df1.isna().sum()/ df1.shape[0]

product_id          0.000000
style_id            0.000000
color_id            0.000000
product_name        1.000000
product_color       0.000000
fit                 0.000000
price               0.000000
size_number         0.476351
size_model          0.476351
cotton              0.000000
polyester           0.000000
spandex             0.000000
elastomultiester    0.000000
Rayon               0.000000
scrapy_datetime     0.000000
dtype: float64

### 1.4. <font color='F37126'> Substituicao de dados faltantes</font>

SyntaxError: invalid syntax (2584812652.py, line 1)

### 1.5. <font color='F37126'> Descriçao dos Dados </font>

In [28]:
df1.describe()

            price      cotton   polyester     spandex       Rayon
count  296.000000  296.000000  296.000000  296.000000  296.000000
mean    28.523784    0.986993    0.364764    0.013581    0.002432
std     11.641781    0.029379    0.339624    0.006741    0.016939
min      4.990000    0.790000    0.000000    0.000000    0.000000
25%     19.990000    0.980000    0.000000    0.010000    0.000000
50%     28.990000    0.990000    0.650000    0.010000    0.000000
75%     39.990000    1.000000    0.650000    0.020000    0.000000
max     49.990000    1.000000    1.000000    0.020000    0.120000