In [43]:
import pandas as pd
import sqlite3

from sqlalchemy import create_engine

In [44]:
data = pd.read_csv('./dataset/data_webs_treated.csv')

In [45]:
query_showroom_schema = """
    CREATE TABLE vitrine ( 
        product_id          INTEGER, 
        product_name        TEXT,
        product_category    TEXT,
        product_price       REAL,
        scrapy_datetime     TEXT,
        style_id            INTEGER,
        color_id            INTEGER,
        color_name          TEXT,
        fit                 TEXT,
        size_number         REAL,
        size_model          TEXT,
        cotton              REAL,
        spandex             REAL,
        Elastomultiester    REAL
    )
"""

In [46]:
# CONECT TO DATABASE CONECÇAO É ( nativa do sqlite 3 ) == ESSE COMAND CRIA 
conn = sqlite3.connect( 'hm_db.sqlite' ) # conect em um bnco de dados / se nao existir ele cria um novo
cursor = conn.execute( query_showroom_schema ) # planeja a excucao da query no banco de dados/ envia a query para o banco
conn.commit() # executa no banco de dados / diz para realmente execultar 
cursor.close() # fecha a coneccao para nao ficar aberta / sempre bom fechar explicitamente

In [47]:
# conect no b e faz um query com a tb criada:

# impor conec debtro do ba de dad 
# BIBLIOTECA SQL AL Q TE CONECCAO PARA VARIOS BANCSAS DE DADOS == ESSE COMAND E SO PARA ARQUIVO CRIADO
# passas as coneccoes host usuario pssowor banco de dados
conn = create_engine('sqlite:///hm_db.sqlite', echo=False) # echo =false para ao printa na tl

In [51]:
# SELECIONAR DADOS DA MIHA TABLE

# seleciona tudo from vitrine

query = """
    SELECT * FROM vitrine
"""
df = pd.read_sql_query( query, conn ) # pass uma query e uma coneccao p/ onde quero q a query rode
df.head()

,product_id,product_name,product_category,product_price,scrapy_datetime,style_id,color_id,color_name,fit,size_number,size_model,cotton,spandex,Elastomultiester
0,1130309005,baggy_jeans,men_jeans_loose,39.99,2023-10-04 14:36:16,1130309,5,denim_black,loose_fit,187.0,31/32,1.00,0.0,0.0
1,1130309005,baggy_jeans,men_jeans_loose,39.99,2023-10-04 14:36:16,1130309,5,dark_denim_gray,loose_fit,187.0,31/32,1.00,0.0,0.0
2,1130309005,baggy_jeans,men_jeans_loose,39.99,2023-10-04 14:36:16,1130309,5,light_denim_blue,loose_fit,187.0,31/32,1.00,0.0,0.0
3,1130309005,baggy_jeans,men_jeans_loose,39.99,2023-10-04 14:36:16,1130309,5,dark_denim_blue,loose_fit,187.0,31/32,1.00,0.0,0.0
4,985159001,skinny_jeans,men_jeans_skinny,29.99,2023-10-04 14:36:16,985159,1,black,skinny_fit,180.0,33/32,0.99,0.0,0.0

In [50]:
# insert data to table / Execulta a query recupera ela 
data.to_sql( 'vitrine', con=conn, if_exists='append', index=False )

256

In [ ]:
# command Update

# comanad --Drop

# command -- Alter table (alterar o nome da tabela)

# create index (cria um idex chave de busca)

# Fazer o cursinho sqlie tutorial . net